@{
    ViewBag.Title = "Acerca de";
}

<img src="~/Content/img/acercade.jpg" class="imagenes" alt="acercade" />

<div class="container text-center space">
    <h2>Eventos México</h2>
    <h4>
        Empresa dedicada al registro de las diferentes ciudades y estados de la Repulica Mexicana
        y el registro de los diferenes eventos que se realizan en las diferentes ciudades registradas
        de todas la Republica Mexicana.
    </h4>
</div>