@{
    ViewBag.Title = "Contacto";
}

<img src="~/Content/img/contacto.jpg" class="imagenes" alt="acercade" />

<div class="container text-center space">
    <h2>Contacto</h2>

    <address>
        Coorp Eventos<br />
        Tijuana, BCN 22687<br />
        <abbr title="Phone">Telf:</abbr>
        748.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="#">support@eventosmexico.com</a><br />
        <strong>Marketing:</strong> <a href="#">marketing@eventosmexico.com</a>
    </address>
</div>


