@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Los mejores eventos en todo México</h1>
    <p class="lead">Conciertos, exposiciones, moda, etc. en toda la republica mexicana</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/img/disfruta.jpg" class="card-img-top" alt="Disfruta">
            <div class="card-body">
                <h5 class="card-title">Disfruta</h5>
                <p class="card-text">
                    Disfruta de los mejores eventos en toda la republica mexicana.
                </p>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/img/conoce.jpg" class="card-img-top" alt="Disfruta">
            <div class="card-body">
                <h5 class="card-title">Conoce</h5>
                <p class="card-text">
                    Conoce nuevas amistades en los diferentes eventos que puedes asistir.
                </p>
                <br />
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/img/comparte.jpg" class="card-img-top" alt="Disfruta">
            <div class="card-body">
                <h5 class="card-title">Comparte</h5>
                <p class="card-text">
                    Comparte las mejores experiencias en los diferentes eventos a los que puedes asistir.
                </p>
                <br />
            </div>
        </div>
    </div>
</div>